.HabitsList-item {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  cursor: pointer;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.HabitsList-item:hover {
  border: 1px solid var(--primary-color);
}

.HabitsList-item_title {
  font-weight: bold;
  margin-bottom: 1rem;
}

.HabitsList-item_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.HabitsList-status-text {
  font-size: 0.8rem;
}
