.habit-item {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  cursor: pointer;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.habit-item:hover {
  border: 1px solid var(--primary-color);
}

.habit-item_title {
  margin-bottom: 1rem;
}

.habit-item_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
