#root {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 1rem;
  width: 100%;
}

.page {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
}

.form-element {
  margin-bottom: 1rem;
}
