.Calendar {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: 2rem;
  user-select: none;
}

.Calendar-day {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 7);
  aspect-ratio: 1 / 1;
  user-select: none;
  cursor: pointer;
}

.Calendar-day_success {
  background-color: var(--success-color);
  border-radius: 50%;
}

.Calendar-day_error {
  background-color: var(--error-color);
  border-radius: 50%;
}

.Calendar-day_week-name {
  color: gray;
}

.Calendar-menu {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.Calendar-day_active {
  font-weight: bold;
  text-decoration: underline;
}

@keyframes pulsate {
  0% {
    background-color: var(--bg-color); /* Start with the background color */
  }
  50% {
    background-color: rgba(255, 255, 255, 0.3); /* Fade to a lighter color */
  }
  100% {
    background-color: var(--bg-color); /* Back to the original color */
  }
}

.Calendar-day_pulsate {
  animation: pulsate 3s infinite ease-in-out;
  border-radius: 50%;
}
