input[type="text"],
textarea {
  outline: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: inherit;
  color: var(--text-color);
  border: 0;
  font-size: 1rem;
  width: 100%;
  resize: none;
  border-bottom: 1px solid transparent;
}

input[type="text"]:focus,
textarea:focus {
  border-bottom: 1px solid var(--border-color);
}

input[type="text"] {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-color);
  letter-spacing: 0.01em;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

input[type="text"]:focus {
  border-bottom: 2px solid var(--primary-color);
}

textarea {
  min-height: 50px;
  max-height: 50px;
  font-weight: 0.2;
  font-size: 0.9rem;
  font-style: italic;
}

label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
