.progress-bar {
  display: flex;
  gap: 2px;
  height: 6px;
  border-radius: 3px;
  overflow: hidden;
  background: var(--bg-color);
}

.progress-bar_thick {
  height: 10px;
  border-radius: 5px;
}

.progress-bar .good,
.progress-bar .bad {
  transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.progress-bar .good {
  background: var(--success-color);
}

.progress-bar .bad {
  background: var(--error-color);
}
