.edit-day-pane {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.edit-day-pane h3 {
  margin-top: 0;
}

.stats-row {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
