#root {
  max-width: 1280px;
  padding: 0 1rem;
  width: 100%;
}

.page {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.page h1,
h2 {
  margin-top: 1rem;
}

.form-element {
  margin-bottom: 1rem;
}
