:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg-color: #1e1e2e;
  --text-color: #cbe3e7;
  --primary-color: #7aa2f7;
  --secondary-color: #e0af68;
  --success-color: #9ece6a;
  --error-color: #f7768e;
  --input-bg: #2e2e3e;
  --border-color: #3e3e5e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  color: var(--primary-color);
}

p {
  color: var(--text-color);
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

button {
  background-color: var(--primary-color);
  color: var(--bg-color);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

button:hover {
  background-color: var(--secondary-color);
}

/* Primär och sekundär knapp */
button.success {
  background-color: var(--success-color);
  color: var(--bg-color);
}

button.error {
  background-color: var(--error-color);
  color: var(--bg-color);
}

/* Input och Textarea */
input[type="text"],
textarea {
}
